 <p>
    Usu치rio:
    <%= comment.commenter %>
  </p>

  <p>Coment치rio:
    <%= comment.body %>
  </p>

  <p>
    <%= link_to 'Apagar coment치rio', [comment.study_item, comment],
    method: :delete,
    data: { confirm: 'Tem certeza que deseja apagar o coment치rio? '} %>
  </p>
